PORT=3000
TG_BOT_RED=YOUR_TOKEN_HERE
TG_BOT_ECON=YOUR_TOKEN_HERE
TG_BOT_BLUE=YOUR_TOKEN_HERE
ANTHROPIC_API_KEY=YOUR_KEY_HERE
TG_API_ID=YOUR_ID
TG_API_HASH=YOUR_HASH
TG_PHONE=+972XXXXXXXXX
INVITE_CODE=warwatch2025
